<div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                    <div class="buttons">
                        <button (click)="goToRegister()" class="button is-info">Register</button>
                        <button class="button is-success" (click)="doLogin()">Login</button>
                    </div>
              </div>
        </div>
      </div>
    </article>
  </div>
